---
import * as Diff from "diff";
import { html } from "diff2html";
import 'diff2html/bundles/css/diff2html.min.css';
import 'highlight.js/styles/github.css';

const { input1, input2 } = Astro.props;
let diff = Diff.createPatch(input1.frontmatter.title, input1.compiledContent(), input2.compiledContent());
let result = html(diff, { matching: 'lines', outputFormat: 'side-by-side'});

---

<div>
    {<Fragment set:html={result}></Fragment>}
</div>